# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Entorno
.env
.venv
/venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos temporales
temp/
*.pdf
*.log
.cache/

# Compiled binaries
*.pyz
*.pyd

# Sistema operativo
.DS_Store
Thumbs.db
